<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>messageBasic</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="message.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
        tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content modal_content">
                <div class="modal-header gap-3">

                    <div class="imgd">
                        <img class="mod_img imgcr" src="img/photo_2022-03-06_10-33-03.jpg" alt="">
                    </div>
                    <h6 class="mod_title">Abdumajidov Ismoil</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div status class="borderb">
                        <p>
                            Status
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis laudantium quae aut illo.
                            Similique rerum temporibus repellat molestiae reiciendis ratione qui laudantium, non
                            asperiores ullam quis dolorum quo illo magni?
                        </p>
                    </div>
                    <div class="d-flex justify-content-around text-center">
                        <div class="fradddiv">
                            <i class="fa-solid fa-user-group"></i>
                            <p>Do'stlashish</p>
                            <div class="text-start border fradd p-3 dNone">
                                <form action="">

                                    <h6>U siz uchun kim?:</h6>
                                    <input type="radio" name="friend" id=""><label for="">Qarindosh</label><br>
                                    <input type="radio" name="friend" id=""><label for="">Yaqin do'st</label><br>
                                    <input type="radio" name="friend" id=""><label for="">Sinfdosh</label><br>
                                    <input type="radio" name="friend" id=""><label for="">Kursdosh</label><br>
                                    <input type="radio" name="friend" id=""><label for="">Hamkasb</label><br>
                                    <button class="btn btn-primary">Save</button>

                                </form>
                            </div>

                        </div>
                        <div class="bandiv">

                            <i class="fa-solid fa-ban"></i>
                            <p>Bloklash</p>
                            <div class="text-start border ban p-3 dNone">
                                <form action="">

                                    <h6>Qancha muddatga:</h6>
                                    <input type="radio" name="friend" id=""><label for="">1-soat</label><br>
                                    <input type="radio" name="friend" id=""><label for="">1 kun</label><br>
                                    <input type="radio" name="friend" id=""><label for="">1 hafta</label><br>
                                    <input type="radio" name="friend" id=""><label for="">1 oy</label><br>
                                    <input type="radio" name="friend" id=""><label for="">Umrbod</label><br>
                                    <button class="btn btn-primary">Save</button>

                                </form>
                            </div>


                        </div>
                    </div>
                    <div class="characteristic">
                        <div><i class="fa-solid fa-house me-2"></i><span>Namangan</span></div>
                        <div><i class="fa-solid fa-address-book me-2"></i><span>20.06.2001y(20 yosh)</span></div>
                        <div><i class="fa-solid fa-credit-card me-2"></i></i><span>Reyting:<span>1353%</span></span>
                        </div>
                        <div><i class="fa-solid fa-heart me-2"></i><span>Sevimli:<span>2123</span></span></div>
                    </div>
                       <div class="d-flex align-items-center borderb blogs_item">
                           <div class="icon">
                               <i class="fa-solid fa-users-line me-2"></i>
                           </div>
                           <a href="friend.html">Dostlar</a>
                       </div>
                      <div class="d-flex align-items-center borderb blogs_item">
                          <div class="icon">
                              <i class="fa-solid fa-thumbtack me-3"></i>
                          </div>
                          <a href="status.html">Statuslar</a>
                      </div>
                      <div class="lider d-flex align-items-center borderb blogs_item">
                          <div class="icon">
                              <i class="fa-regular fa-address-card me-2"></i>
                          </div>
                          <a href="anketa.html">Anketa (ID)</a>
                      </div>
                      <div class="d-flex align-items-center borderb blogs_item">
                          <div class="icon">
                              <i class="fa-regular fa-image me-2"></i>
                          </div>
                          <a href="albom.html">Foto Albom</a>
                      </div>

                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>



    <section class="container-fluid bigContainer h-100">
        <div class="container-fluid p-0">
            <div class="d-flex   container-fluid p-0">
                <div class="left_content left_active ">
                    <div class="nav_title p-3">
                        <div class="d-flex justify-content-between align-items-center ">
                            <div class="d-flex align-items-center gap-3">
                                <div>
                                    <img class="circle_img " src="img/photo_2022-03-06_10-33-03.jpg" alt="">
                                </div>
                                <h6>Abdumajidov Ismoil</h6>
                            </div>
                            <div class="navbar_btn  p-2">
                                <button class="toggle">
                                    <i class="far fa-moon moon"></i>
                                </button>
                            </div>
                        </div>
                        <form class="my-3 d-flex gap-2">
                            <button class="btn btn-primary filt_btn"><i class="fa-solid fa-bars"></i></button>
                            <input type="text" class="form-control bg-transparent inp" placeholder="Search">
                        </form>
                        <ul class="filter_menue dNone">
                            <li>All</li>
                            <li>Friend</li>
                            <li>Oshiqlar chati</li>
                            <li> <button class="btn btn-primary"><a href="index.html" class="text-white"><i
                                            class="fa-solid fa-house"></i></i></a></button></li>
                        </ul>
                    </div>
                    <div class="users border-top">

                    </div>
                </div>
                <div class="right_content">
                    <div class="user_friend">
                        <div class="user_top  p-3">
                            <div class="left_btn px-3 py-4">
                                <i class="fa-solid fa-arrow-left"></i>
                            </div>
                            <div class="userChat d-flex align-items-center gap-3">
                                <a data-bs-toggle="modal" href="#exampleModalToggle" role="button">
                                    <div class="imgd">
                                        <img class="imgcr lich_img" src="img/photo_2022-03-06_10-33-03.jpg" alt="" />
                                    </div>
                                </a>
                                <h5 class="lich_title">
                                    Abdumajidov Ismoil
                                </h5>
                                <div class="user_title">
                                </div>
                            </div>
                        </div>
                        <div class="bg_message">
                            <div class="darkdiv"></div>
                            <img src="https://c0.wallpaperflare.com/preview/651/626/505/lake-mirroring-mountain-mountains.jpg"
                                class="bg-img" alt="">
                        </div>
                        <div class="user_message align-items-end">

                        </div>
                        <div class="user_bottom">
                            <form action="" class="d-flex messages gap-3">
                                <!-- <input type="text" class="send_input form-control"> -->
                                <textarea name="" class="send_input" placeholder="Message"></textarea>
                                <input type="button" class="btn btn-primary send_btn" value="Send">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous">
    </script>
    <script src="users.js"></script>
    <script src="main.js"></script>
</body>

</html>