<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ro'yxatdan o'tish</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <section class="container-fluid bigContainer">
        <!-- basic background -->
        <div class="bg-imgdiv">


            <!-- <img src="https://i.pinimg.com/736x/67/76/5f/67765fece5d8cb998b6d3466664abb91.jpg" -->
            <!-- <img src="https://thumbs.dreamstime.com/b/gruner-see-crystal-clear-water-austria-austrian-alps-50377865.jpg" -->
            <img src="https://c0.wallpaperflare.com/preview/651/626/505/lake-mirroring-mountain-mountains.jpg"
                class="bg-img" alt="">
        </div>
        <!-- basic background -->

        <div class="container-fluid py-5">
            <div class="content container">

                <div class="blogs text-white">
                    <div class="borderb blogs_item text-center">
                        <h1>
                            Ro'yxatdan o'tish
                        </h1>
                        <p class="fs-6">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                    </div>
                    <div class="elon_items">
                        <form action="" class="text-white">
                            <input type="email" class="form-control bg-transparent border-0 border-bottom my-2"
                                placeholder="E-mail">
                            <input type="text" class="form-control bg-transparent border-0 border-bottom my-2"
                                placeholder="User name">
                            <input type="password" class="form-control bg-transparent border-0 border-bottom my-2"
                                placeholder="Password">
                            <select class="form-select bg-transparent border-0 border-bottom" name="gender"
                                aria-label="Default select example">
                                <option value="1">Erkak</option>
                                <option value="1">Ayol</option>
                            </select>
                            <input type="date" class="form-control bg-transparent border-0 border-bottom my-2">
                            <input type="text" class="form-control bg-transparent border-0 border-bottom my-2"
                                placeholder="Shaharni yozing">

                            <input type="number" class="form-control bg-transparent border-0 border-bottom my-2"
                                placeholder="Telefon raqam">
                            <textarea name="about my self" id="" cols="30" rows="3"
                                class="form-control bg-transparent border-0 border-bottom"
                                placeholder="About My self"></textarea>
                            <input type="number" class="form-control bg-transparent border-0 border-bottom my-2"
                                placeholder="Bo'yi">

                            <input type="number" class="form-control bg-transparent border-0 border-bottom my-2"
                                placeholder="Vazni">
                            <button class="btn btn-primary my-2">Save</button>
                            <button class="btn btn-success my-2">Kirish</button>


                        </form>
                    </div>
                </div>
            </div>

        </div>
    </section>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous">
    </script>
</body>

</html>